<html>
    <body>
		<h2>Category: <%= @getCat.category %></h2> 
		<h3>Subcategory: <%= @getSubCat.subcategory %></h3>
        <form action='game' method='post'>
            <table>
                <tr>
                    <td>
                    	<!-- Hangman parts (images) are displayed here -->
                        <img id="myImage" alt = "HangMan" width="150" height="200" />
                    </td>
                    <td>
                        <button id="hint" name= 'buttonClicked' type='submit' value="26">
                            Hint
                        </button>
                        <br/>
                        <p id="hintPhrase">
                        </p>
                    </td>
                </tr>
            </table>
        </form>
        <br/>
        <br/>
        <br/>
        <script type="text/javascript">
        	//Script creates letter buttons, determines if letter selections are contained in the word,
			//shows deciphered letters and underscores for undeciphered letters, deactivates selected letter buttons,
			//and updates hangman parts (images) 
            var word = "<%= @word.word %>"
            var lowerLetters = "abcdefghijklmnopqrstuvwxyz"
            var letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
            var active = "<%= @user.active %>"
            var incorrectLetters = 1
            var complete = true;
            for (var h = 0; h < letters.length; h++) {
                if (active[h] == 0) {
                    var found = false
                    for (var r = 0; r < word.length; r++) {
                        if (word[r] == letters[h] || word[r] == lowerLetters[h]) {
                            found = true
                        }
                    }
                    if (!found) {
                        incorrectLetters++
                    }
                }
            }
            if (incorrectLetters >= 7) {
                active = "000000000000000000000000000"
            }
            document.write("<div id='hang'>")
            for (var j = 0; j < word.length; j++) {
                if (word[j] == " ") {
                    document.write("&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;")
                }
                else {
                    for (var k = 0; k < letters.length; k++) {
                        if (word[j] == letters[k] || word[j] == lowerLetters[k]) {
                            if (active[k] == 0) {
                                document.write(word[j])
                            }
                            else {
                                document.write("_ ")
                                complete = false
                            }
                        }
                    }
                    
                }
            }
            document.write("</div>")
            if (complete) {
                //Puzzle solved
				active = "000000000000000000000000000"
				//Wait 1.5 seconds and display celebration animation
				setTimeout("document.getElementById('myImage').src = '../images/celebration-animation.gif'", 1500);
            }
            document.write("<br />")
            document.write("<br />")
            document.write("<br />")
            document.write("<form action='game' method='post'>")
            for (var i = 0; i < letters.length; i++) {
                if (active[i] == "0") {
                    document.write("<button name= 'buttonClicked' type='submit' value=" + i + " style='width: 35px; height: 25px' disabled='disabled'>" + letters[i] + "</button>")
                }
                else {
                    document.write("<button name= 'buttonClicked' type='submit' value=" + i + " style='width: 35px; height: 25px'>" + letters[i] + "</button>")
                }
                if (((i + 1) % 13) == 0) {
                    document.write("<br />")
                }
            }
            if (active[26] == 0) {
				//Hint button selected
                document.getElementById("hint").disabled = 'disabled'
                document.getElementById("hintPhrase").innerHTML = "<%= @word.hint %>"
            }
            
            document.write("</form>")
            if (incorrectLetters == 1) {
                //No mistakes yet, display empty gallows
				document.getElementById("myImage").src = " <%= @hang.hang1_url %> "
            }
            else 
				//First mistake, display head
                if (incorrectLetters == 2) {
                    document.getElementById("myImage").src = " <%= @hang.hang2_url %> "
                }
                else 
                    //Second mistake, display body
					if (incorrectLetters == 3) {
                        document.getElementById("myImage").src = " <%= @hang.hang3_url %> "
                    }
                    else 
						//Third mistake, display arm
                        if (incorrectLetters == 4) {
                            document.getElementById("myImage").src = " <%= @hang.hang4_url %> "
                        }
                        else 
                            if (incorrectLetters == 5) {
                                //Fourth mistake, display other arm
								document.getElementById("myImage").src = " <%= @hang.hang5_url %> "
                            }
                            else 
                                if (incorrectLetters == 6) {
									//Fifth mistake, display leg
                                    document.getElementById("myImage").src = " <%= @hang.hang6_url %> "
                                }
                                else {
									//Sixth mistake, display other leg
                                    document.getElementById("myImage").src = " <%= @hang.hang7_url %> "
									//Wait 2 seconds and display game over animation
									setTimeout("document.getElementById('myImage').src = '../images/gameover.gif'", 2000);
                                }
        </script>
        <br/>
        <br/>
        <form action='game' method='post'>
            <button name= 'buttonClicked' type='submit' value="29">
                Home
            </button>
            <button name= 'buttonClicked' type='submit' value="27">
                New Game
            </button>
            <button name= 'buttonClicked' type='submit' value="28">
                Leader Board
            </button>
        </form>
    </body>
</html>
