<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @hang_man.name %>
</p>

<p>
  <b>Hang1 url:</b>
  <%= @hang_man.hang1_url %>
</p>

<p>
  <b>Hang2 url:</b>
  <%= @hang_man.hang2_url %>
</p>

<p>
  <b>Hang3 url:</b>
  <%= @hang_man.hang3_url %>
</p>

<p>
  <b>Hang4 url:</b>
  <%= @hang_man.hang4_url %>
</p>

<p>
  <b>Hang5 url:</b>
  <%= @hang_man.hang5_url %>
</p>

<p>
  <b>Hang6 url:</b>
  <%= @hang_man.hang6_url %>
</p>

<p>
  <b>Hang7 url:</b>
  <%= @hang_man.hang7_url %>
</p>


<%= link_to 'Edit', edit_hang_man_path(@hang_man) %> |
<%= link_to 'Back', hang_men_path %>
