<h1>Listing Words</h1>

<table>
  <tr align="left">
	<th>Category - Subcategory</th>
    <th>Word</th>
    <th>Hint</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @words.each do |word| %>
<% @mySubCat = Subcategory.find(word.subcategories_id) %>
<% @myCat = Category.find(@mySubCat.categories_id) %>
  <tr align="left">
	<td width="200"><%= @myCat.category %> - <%= @mySubCat.subcategory %></td>
    <td width="200"><%= word.word %></td>
    <td width="250"><%= word.hint %></td>
    <td><%= link_to 'Show', word %></td>
    <td><%= link_to 'Edit', edit_word_path(word) %></td>
    <td><%= link_to 'Destroy', word, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Word', new_word_path %>
